.App {
  text-align: center;
  background-color: black;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin: 2rem auto;
  border-radius: 2rem;
}

